# Node modules
/node_modules
npm-debug.log
yarn-error.log

# Vendor directory
/vendor

# Laravel specific
bootstrap/compiled.php
app/storage/
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Environment files
.env
.env.backup

# Homestead and Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# PHPUnit cache
.phpunit.result.cache

# Storage encryption keys
storage/*.key
